.main{
    position: absolute;
    height: 220px;
    width: 300px;
    padding: 20px;
    background-color: cornflowerblue;
}
.printBox{
    width: 290px;
    height: 30px;
    font-size: 18px;
    color: cornflowerblue;
    background-color: white;
}
.btn{
    margin: 5px;
    height: 30px;
    width: 60px;
    font-size: 18px;
    border: none;
    background-color: lightcyan;
    color: cornflowerblue;
}
.btn_1{
    width: 288px;
    height: 30px;
    font-size: 18px;
    border: none;
    background-color: lightcyan;
    color: cornflowerblue;
    position: relative;
    left: 3px;
    top: 2px;
}